#faqman-grid-items .question-id {
	font-size: 11px;
	font-weight: normal;
	display: block;
	margin-bottom: 3px;
	padding-left: 5px;
	float: left;
	color: #aaa;
}
.main-column a {
	float: left;
}
.main-column {
}
.answer {
	margin-left: 20px;
}
.faq-question-column {
	padding: 1px 0 30px 0;
}

